
@{
    ViewBag.Title = "ActivationConfirmed";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<div class="jumbotron bg-primary text-white text-center">
    <h1 class="display-4">Konto zostało aktywowane</h1>

  <br />
    <a class="btn btn-primary btn-lg bg-light text-primary font-weight-bold" href="@Url.Action("Login", "Account")" role="button">Zaloguj się</a>
</div>

